#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    combos {
        combo_studio_unlock {
            compatible = "zmk,combos";
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&studio_unlock>;
        };

        mail_one: mail_one {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp S &kp S &kp R &kp I &kp J &kp I &kp I &kp T &kp H &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
        }
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
// -----------------------------------------------------------------------------------------
// |  ESC |  '  |  ,  |  .  |  P  |  Y  |   |  F  |  G   |  C  |  R  |  L  |BSPC|
// | SHFT |  A  |  O  |  E  |  U  |  I  |   |  D  |  H   |  T  |  N  |  S  |  - |
// | CTRL |  ;  |  Q  |  J  |  K  |  X  |   |  B  |  M   |  W  |  V  |  Z  |  = |
//                    | LWR | GUI | SPC |   | ENT | TAB  | RSE |
            bindings = <
&kp ESC   &kp SQT &kp COMMA &kp DOT &kp P &kp Y   &kp F &kp G  &kp C  &kp R   &kp L   &kp BSPC
&kp LSHFT &kp A &kp O &kp E &kp U &kp I   &kp D &kp H  &kp T     &kp N   &kp S &kp MINUS
&kp LCTRL &kp SEMI &kp Q &kp J &kp K &kp X   &kp B &kp M  &kp W &kp V &kp Z &kp EQUAL
                &mo 1 &mt LGUI FSLH &kp SPACE   &kp RET &kp TAB &mo 2
            >;
        };

        lower_layer {
            display-name = "lower";
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |  `  |
// | SHFT |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |  ~  |
// | CTRL | UND | CUT | CPY | PST |  |  |   |  /  |  [  |  ]  |  {  |  }  |  \  |
//                    | LWR | GUI | SPC |   | ENT | TAB | RSE |
            bindings = <
&kp ESC  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET   &kp AMPS   &kp ASTRK &kp LPAR  &kp RPAR &kp GRAVE
&bt LSHFT &kp N1 &kp N2 &kp N3 &kp N4 &kp N5   &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp TILDE
&kp LCTRL &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V) &kp PIPE   &kp FSLH   &kp LBKT  &kp RBKT &kp LBRC &kp RBRC &kp BSLH
                &mo 1  &mt LGUI FSLH  &kp SPACE      &kp RET  &kp TAB   &mo 2
            >;
        };

        raise_layer {
            display-name = "raise";
// -----------------------------------------------------------------------------------------
// |  ESC |BTCLR| BT0 | BT1 | BT2 |BTDSC|   |  ^  |  &  |  *  |  (  |  )  | BSPC|
// | SHFT |  W1 |  W2 |  W3 |  W4 |  W5 |   | MAIL| LEFT| DOWN|  UP |RIGHT|  -  |
// | CTRL |  W6 |  W7 |  W8 |  W9 | QWRT|   |  |  |  [  |  ]  |  {  |  }  |  =  |
//                    | LWR | GUI | SPC |   | ENT | TAB | RSE |
            bindings = <
&kp ESC  &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_DSC  &kp CARET   &kp AMPS   &kp ASTRK &kp LPAR  &kp RPAR &kp BSPC
&bt LSHFT &kp LG(N1) &kp LG(N2) &kp LG(N3) &kp LG(N4) &kp LG(N5)   &mail_one   &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp MINUS
&kp LCTRL &kp LG(N6) &kp LG(N7) &kp LG(N8) &kp LG(N9) &tog 3     &kp PIPE   &kp LBKT  &kp RBKT &kp LBRC &kp RBRC &kp EQUAL
                &mo 1  &mt LGUI FSLH  &kp SPACE      &kp RET  &kp TAB   &mo 2
            >;
        };

        qwerty_layer {
            display-name = "qwerty";
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  ,  |  .  |  P  |  Y  |   |  F  |  G   |  C  |  R  |  L  |BSPC|
// | SHFT |  A  |  O  |  E  |  U  |  I  |   |  D  |  H   |  T  |  N  |  S  |  - |
// | CTRL |  ;  |  Q  |  J  |  K  |  X  |   |  B  |  M   |  W  |  V  |  Z  |  = |
//                    | LWR | GUI | SPC |   | ENT | TAB  | RSE |
            bindings = <
&kp ESC   &kp Q &kp COMMA &kp DOT &kp P &kp Y   &kp F &kp G  &kp C  &kp R   &kp L   &kp BSPC
&kp LSHFT &kp A &kp O &kp E &kp U &kp I   &kp D &kp H  &kp T     &kp N   &kp S &kp MINUS
&kp LCTRL &kp SEMI &kp Q &kp J &kp K &kp X   &kp B &kp M  &kp W &kp V &kp Z &kp EQUAL
                &mo 1 &mt LGUI FSLH &kp SPACE   &kp RET &kp TAB &mo 2
            >;
        };

        extra_layer1 {
            display-name = "extra_layer1";
            status = "reserved";
        };

        extra_layer2 {
            display-name = "extra_layer2";
            status = "reserved";
        };
    };
};